.cardMob {
  display: grid;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 3px solid black;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 0.5fr 7fr 1fr;
  grid-template-areas: 
    'cardMob_header cardMob_header cardMob_header'
    'cardMob_image cardMob_image cardMob_image'
    'cardMob_description cardMob_description cardMob_description'
  ;
}

/* --------------- CARD HEADER ------------------ */
.cardMob_header{
  grid-area: cardMob_header;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-template-areas: 
    'cardMob_header_lvl cardMob_header_life cardMob_header_exp'
  ;
}

.cardMob_header_lvl{
  grid-area: cardMob_header_lvl;
  width: 100%;
  justify-self: center;
  text-align: center;
}

.cardMob_header_life{
  grid-area: cardMob_header_life;
  width: 100%;
  justify-self: center;
  text-align: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.cardMob_header_life img {
  width: 15px;
  margin: 0 5px 0 5px;
}

.cardMob_header_exp{
  grid-area: cardMob_header_exp;
  width: 100%;
  justify-self: center;
  text-align: center;
}

.cardMob_header_exp p {
   justify-self: center;
   text-align: center;
}

/* --------------- CARD IMAGE ------------------ */

.cardMob_image{
  grid-area: cardMob_image;
  border-bottom: 3px solid black;
  position: relative;
}

.cardMob_image img {
  width: 100%;
  height: 200px;
}
.cardMob_image_title{
  position:absolute;
  bottom: 10px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

/* --------------- CARD DESCRIPTION ------------------ */

.cardMob_description{
  grid-area: cardMob_description;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'cardMob_description_dmg cardMob_description_type cardMob_description_weapon'
    'cardMob_description_dmg cardMob_description_type cardMob_description_weapon'
  ;
}

.cardMob_description_weapon{
  grid-area: cardMob_description_weapon;
  position: relative;
  text-align: center;
}

.cardMob_description_weapon img {
  width: 100%;
  height: 100%;
}

.cardMob_description_weapon_count{
  position:absolute;
  top: 0;
  opacity: 80%;
  font-weight: bold;
  padding: 1px;
  background-color: rgb(217, 255, 0);
}

.cardMob_description_dmg{
  grid-area: cardMob_description_dmg;
  margin-top: 8px;
  font-size: 40px;
  text-align: center;
}

.cardMob_description_type{
  grid-area: cardMob_description_type;
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.cardMob_description_type p {
    font-size: 12px;
}

.cardMob_description_type small {
    font-weight: bold;
}
